*{
    padding: 0;
    margin: 0;
    
}

:root{
    background-color:grey;
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:1fr 6fr;
    height:100vh;
    width:100vw;
}

.navigation{
    background-color: blue;
    grid-row:1/3;
}

.control {
    background-color:white;
    display:flex;
    grid-column:2/4;
    flex-direction:column;
    justify-content:space-between;
    z-index:1;
    height:20vh;
    width:80vw;
}

.control img{
    height:60%;
    align-self:center;
}

.control, .card, .message-announce, .name-trend {
    box-shadow:5px 0px 0px 10px rgba(0,0,0, 10%);
}

.top-con{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:40%;
    width:100%;
}

.user {
    display:flex;
    height:100%;
    width:25%;
    gap:8%;
}

.user p {
    align-self:center;
    font-size:200%;
}

.search {
    display:flex;
    width:65%;
}

.search input{
    width:100%;
    height:2.5vh;
    border-radius:10vh;
    background:gray;
}

.bot-con{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:60%;
    gap:20%;
}

.buttons-con {
    display:flex;
    width:24%;
    height:100%;
    gap:10%;
    align-items:center;
    justify-content:center;
    width:30%
}

.interact-con {
    display:flex;
    height:100%;
    width:30%;
}

.welcome-con{
    align-self:center;
    font-size:1.5rem;
}


.buttons-con button{
    height:30%;
    width:30%;
    border-radius:2vw;
    align-content:center;
    font-size:1rem;
    color:white;
    background:blue;

}

.projects{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:80vh;
    row-gap:3%;
}

.right-side,.projects{
    padding-left:2%;
}

.right-side {
    row-gap:6%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:78vh;
    padding-left:7%;
    padding-right:7%;
}

.announcements{
    row-gap:7%;
    display:flex;
    flex-direction:column;
}

.trending{
    display:flex;
    row-gap:7%;
    flex-direction:column;
}

.message-announce, .name-trend {
    
    display:flex;
    border-radius:1.5%;
    flex-direction:column;
    padding:1%;
    justify-content:space-around;
    align-items:center;
    background-color:white;
    height:30vh;
    width:100%;
}

.message-announce div {
    justify-items:center;
    height:30%;
    width:100%;
}

.name-trend div {
    height: 20%;
}

.cards-proj {
    height:88%;
    display:grid;
    gap:2.7%;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    justify-items:center;
}

.card {
    border-radius:1.5%;
    gap:5%;
    display:flex;
    background-color:white;
    overflow-y:hidden;
    
}

.card-content{
    height:100%;
    justify-content:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.card-line{
    width:10%;
    background-color:orange;
}

.card-text{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    width:90%;
    height:60%
}
.card-buttons {
    display:flex;
    justify-content:flex-end;
    gap:4%;
    padding:5%;
}

.navigation {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8%;
    height:100vh;
    width:20vw;
    
}

.nav-item{
    
    display:flex;
    gap:8%
}

.nav-item img{
    width:10%;
}

.nav-manage,.nav-settings{
    display:flex;
    flex-direction:column;
}

.navigation a {
    text-decoration:none;
    font-size:300%;
    color:white;
}

.navigation img{
    filter:invert(100);
}

.nav-logo {
    width:100%;
    height:5%;
    align-items:center;
    font-size:133%;
    color:white;
    display:flex;

}

.nav-logo img{
    width:18%;
}

.search-con{
    background-image: url(./images/magnify.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:white;
    border-style:none;
}

.bell-con{
    background-image: url(./images/bell-ring-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:white;
    border-style:none;
}