*{
    padding: 0;
    margin: 0;
    
}

:root{
    --background-color: lightsteelblue;
    --interaction-color: navy;
    --card-color: ghostwhite;
    background-color:var(--background-color);
    --card-text-weight: font-weight:400;
    --card-text-size: clamp(10px,0.8vw,150%);
    
}
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows:1fr 6fr;
    height:100vh;
    width:100vw;
    
}

.navigation{
    background-color: var(--interaction-color);
    grid-row:1/3;
}

.control {
    background-color:var(--card-color);
    display:flex;
    grid-column:2/4;
    flex-direction:column;
    justify-content:space-between;
    z-index:1;
    height:20vh;
    width:80vw;
}

.control img{
    height:60%;
    align-self:center;
}

.control, .card, .message-announce, .name-trend {
    box-shadow:0px 5px 5px 5px rgba(0,0,0, 10%);
}

.top-con{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:40%;
    width:100%;
}

.user {
    display:flex;
    height:100%;
    width:29%;
    gap:10%;
}

.user p {
    align-self:center;
    font-size:200%;
    font-weight:bold;
}

.search {
    display:flex;
    width:60%;
    padding-left:2%;
}

.search input{
    width:100%;
    height:3vh;
    border-radius:10vh;
    background-color:var(--background-color);
}

.bot-con{
    display:flex;
    justify-content:center;
    width:100%;
    height:60%;
    gap:45%;
}

.buttons-con {
    display:flex;
    height:100%;
    gap:10%;
    align-items:center;
    width:30%
}

.buttons-con button{
    font-size:large;
    display:flex;
    justify-content:center;
}

.interact-con {
    display:flex;
    height:100%;
    gap:9%;
}

.welcome-con{
    align-self:center;
    font-size:1.5rem;
    font-weight:bold;
}


.buttons-con button{
    height: 32%;
    width:35%;
    border-radius:2vw;
    align-content:center;
    font-size:150%;
    font-weight:bold;
    color:var(--card-color);
    background-color: var(--interaction-color);

}

.projects{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:80vh;
    row-gap:1%;
}

.right-side,.projects{
    padding-left:2%;
}

.right-side {
    row-gap:7%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:80vh;
    padding-left:7%;
    padding-right:7%;
}

.announcements{
    row-gap:3%;
    height:45%;
    display:flex;
    flex-direction:column;
}

.trending{
    display:flex;
    row-gap:3%;

    flex-direction:column;
    
}

.message-announce{
    flex-direction:column;
    
}

.message-announce, .name-trend {
    font-size:var(--card-text-size);
    font-weight:var(--card-text-weight);
    display:flex;
    flex-direction:column;
    border-radius:1.5%;
    justify-content:space-around;
    align-items:center;
    background-color:var(--card-color);
    height:30vh;
    width:100%;
    flex-wrap:wrap;
}

.message-announce div {
    overflow:hidden;
    
    height:30%;
    width:90%;
    padding-left:10%
}

.message-announce div p{
    text-overflow: ellipsis;
}


.name-trend div {
    height: 20%;

}

.trend-list{
    display:flex;
    flex-direction:row;
    gap:20%;
    align-self:flex-start;
    padding-left:10%
}

.trend-info{
    display:flex;
    flex-direction:column;
    align-self:center;
    justify-content:center;
}

.cards-proj {
    height:88%;
    display:grid;
    gap:3%;
    grid-template-columns: repeat(2, minmax(200px,1fr));
    justify-items:center;
}

.card {
    border-radius:1.5%;
    gap:4%;
    display:flex;
    background-color:var(--card-color);
    overflow-y:hidden;
    
}

.card-content{
    height:100%;
    justify-content:center;
    display:flex;
    justify-content:center;
    flex-direction:column;
}

.card-line{
    width:5%;
    background-color:red;
}

.card-text{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:90%;
    height:90%;
    gap:5%;
}

.card-text p{
    color:black;
    font-weight:var(--card-text-weight);
    font-size:var(--card-text-size);
}

.card-buttons {
    display:flex;
    justify-content:flex-end;
    gap:4%;
    padding:5%;
    height:15%;
}

.navigation {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:8%;
    height:100vh;
    padding:8%;
}

.nav-item{
    width:clamp(10px,3rem,100%);
    font-size:clamp(40px,3rem,100%);
    display:flex;
    gap:1vw;
}

.nav-item img{
    width:100%;
}

.nav-manage,.nav-settings{
    display:flex;
    flex-direction:column;
}

.navigation a {
    text-decoration:none;
    
    color:var(--card-color);
}

.navigation img{
    filter:invert(100);
}

.nav-logo {
    width:100%;
    height:5%;
    align-items:center;
    font-size:133%;
    color:var(--card-color);
    display:flex;

}

.nav-logo img{
    width:18%;
}

.search-con{
    background-image: url(./images/magnify.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:var(--card-color);
    border-style:none;
}

.bell-con{
    background-image: url(./images/bell-ring-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:8%;
    background-color:var(--card-color);
    border-style:none;
}

.star-card{
    background-image: url(./images/star-plus-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:var(--card-color);
    border-style:none;
}

.share-card{
    background-image: url(./images/eye-plus-outline.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:var(--card-color);
    border-style:none;
}

.watch-card{
    background-image: url(./images/source-branch.svg);
    background-repeat: no-repeat;
    background-position: center;
    width:10%;
    background-color:var(--card-color);
    border-style:none;
}